<div id="edit-steps" class="js-form-item form-item js-form-type-processed-text form-item- js-form-item- form-no-label">
  <div class="scaler-steps-list">
    <h2>SCALER steps</h2>
    &nbsp;

    <h3>The SCALER consists of three steps:</h3>

    <div class="step" id="scaler-step-1">
      <div class="step-circle">1</div>

      <h3>Identifying evidence of effectiveness</h3>

      <p>
        Use this checklist to assess whether your intervention has evidence of effectiveness. If evidence of the intervention’s effectiveness does not exist, such evidence must be built. Should the intervention be shown to be effective, the
        organization would get ready to scale.
      </p>
      <button class="button btn btn-outline-dark" data-bs-target="#start-scaler-step-1" data-bs-toggle="modal" type="button">STEP 1</button>
    </div>

    <div class="step" id="scaler-step-2">
      <div class="step-circle">2</div>

      <h3>Building evidence of effectiveness</h3>

      <p>
        If evidence of the intervention’s effectiveness does not exist, use this checklist as your organization seeks to build evidence of effectiveness for your intervention. Should the intervention be shown to be effective, the
        organization would get ready to scale.
      </p>
      <button class="button btn btn-outline-dark" data-bs-target="#start-scaler-step-2" data-bs-toggle="modal" type="button">STEP 2</button>
    </div>

    <div class="step" id="scaler-step-3">
      <div class="step-circle">3</div>

      <h3>Getting ready to scale</h3>

      <p>
        Use the checklists in this step to assess whether your organization and intervention are ready to scale. The checklists assess five conditions necessary to facilitate successful scaling: (1) Specifying the intervention, (2) Defining
        the target population, (3) Establishing implementation supports, (4) Having an enabling context, and (5) Establishing an implementation infrastructure.
      </p>
      <button class="button btn btn-outline-dark" data-bs-target="#start-scaler-step-3" data-bs-toggle="modal" type="button">STEP 3</button>
    </div>

    <div class="step next-steps">
      <div class="step-circle final"><img alt="" src="/sites/default/files/images/scaler/dark_finish_flag.png" /></div>

      <h3>Planning your next steps</h3>

      <p>Use the discussion guide questions to identify next steps for strengthening your scaling readiness after completing the SCALER.</p>

      <p><a class="link" href="scaler-nextsteps">View Planning Your Next Steps Guide</a></p>
    </div>

<!-- Modal Step 1 -->
<div aria-hidden="true" aria-labelledby="Start SCALER" class="modal fade" id="start-scaler-step-1" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Starting SCALER</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <div class="modal-step-begin">
          <p>I want to start a new Step 1 from the beginning</p>

          <div class="nav-button next-button"><a class="start button btn btn-primary" href="scaler-step1?reset=1#edit-overview-building-evidence">START</a></div>
        </div>

        <div class="modal-step-continue">
          <label for="scaler-link">I have started Step 1 and want to return to complete, edit, or review. Enter my saved unique web address:</label>
          <input id="scaler-link-1" name="scaler" placeholder="Enter unique web address" type="url" />
          <button class="continue-1 button btn btn-primary" type="submit">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Step 2 -->
<div aria-hidden="true" aria-labelledby="Start SCALER" class="modal fade" id="start-scaler-step-2" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Starting SCALER</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <div class="modal-step-begin">
          <p>I want to start a new Step 2 from the beginning</p>

          <div class="nav-button next-button"><a class="start button btn btn-primary" href="scaler-step2?reset=1#edit-overview-building-evidence">START</a></div>
        </div>

        <div class="modal-step-continue">
          <label for="scaler-link">I have started Step 2 and want to return to complete, edit, or review. Enter my saved unique web address:</label>
          <input id="scaler-link-2" name="scaler" placeholder="Enter unique web address" type="url" />
          <button class="continue-2 button btn btn-primary" type="submit">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Step 3 -->
<div aria-hidden="true" aria-labelledby="Start SCALER" class="modal fade" id="start-scaler-step-3" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Starting SCALER</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <div class="modal-step-begin">
          <p>I want to start a new Step 3 from the beginning</p>

          <div class="nav-button next-button"><a class="start button btn btn-primary" href="scaler-step3?reset=1#edit-determining-readiness-to-scale">START</a></div>
        </div>

        <div class="modal-step-continue">
          <label for="scaler-link">I have started Step 3 and want to return to complete, edit, or review. Enter my saved unique web address:</label>
          <input id="scaler-link-3" name="scaler" placeholder="Enter unique web address" type="url" />
          <button class="continue-3 button btn btn-primary" type="submit">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>
