{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drupalx_theme/breaker') }}

{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
  set link = {
    url: content.field_link[0]['#url']|render,
    text: content.field_link[0]['#title']|render,
  }
%}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {%
      include 'drupalx_theme:breaker' with {
        eyebrow: content.field_eyebrow|render,
        title: content.field_title|render,
        summary: content.field_summary,
        media: content.field_media,
        media_layout: content.field_sidebyside_layout['#items'].getString() ?? 'left',
        bg_color_modifier: content.field_background_color[0]['#markup'] ?? 'white',
        link: link,
      } only
    %}
  {% endblock %}
</section>
