{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalx_theme/site-footer') }}

<footer id="page-footer" class="site-footer {{ modifier }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="region region-footer-newsletter">
          <div class="row newsletter" id="block-americorps-footernewsletterblock">
            <div class="col-lg-5">
              <h2 class="field field--name-field-block-title field--type-string field--label-hidden field__item">Sign up to hear about our latest news, events, and opportunities.</h2>
            </div>
            <div class="offset-lg-3 col-lg-4 col-md-12 newsletter-button">
              <a href="https://public.govdelivery.com/accounts/USCNCS/subscriber/new" class="btn btn-outline-white icon external" role="button" aria-pressed="true" target="_blank">Sign up for our newsletter</a>
            </div>
          </div>
          <div class="break-out">
            <div class="flag"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="region region-footer-navigation">
          <nav role="navigation" aria-labelledby="block-footerabout-menu" id="block-footerabout" class="block block-menu navigation menu--footer-about">
            <h2 class="sr-only" id="block-footerabout-menu">Footer about</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/about" class="nav-link" data-drupal-link-system-path="node/172366" target="_blank">About</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://americorps.gov/about/what-we-do" class="nav-link" data-drupal-link-system-path="node/42011" target="_blank">What We Do</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/about/our-impact" class="nav-link" data-drupal-link-system-path="node/42016" target="_blank">Our Impact</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/about/our-team" class="nav-link" data-drupal-link-system-path="node/42021" target="_blank">Our Team</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/about/careers" class="nav-link" data-drupal-link-system-path="node/42026" target="_blank">Careers</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/about/agency-overview" class="nav-link" data-drupal-link-system-path="node/42036" target="_blank">Agency Overview</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-labelledby="block-footerserve-menu" id="block-footerserve" class="block block-menu navigation menu--footer-serve">
            <h2 class="sr-only" id="block-footerserve-menu">Footer serve</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/serve" class="nav-link" data-drupal-link-system-path="node/41641" target="_blank">Serve</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://americorps.gov/serve/americorps" class="nav-link" data-drupal-link-system-path="node/338841" target="_blank">AmeriCorps</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/serve/americorps-seniors" class="nav-link" data-drupal-link-system-path="node/42681" target="_blank">AmeriCorps Seniors</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/serve/volunteer" class="nav-link" data-drupal-link-system-path="node/266371" target="_blank">Volunteer</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/serve/fit-finder" class="nav-link" data-drupal-link-system-path="node/42686" target="_blank">Find Your Fit</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-labelledby="block-footerpartner-menu" id="block-footerpartner" class="block block-menu navigation menu--footer-partner">
            <h2 class="sr-only" id="block-footerpartner-menu">Footer partner</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/partner" class="nav-link" data-drupal-link-system-path="node/172421" target="_blank">Partner</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://americorps.gov/partner/how-it-works" class="nav-link" data-drupal-link-system-path="node/43166" target="_blank">How it Works</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/partner/funding-opportunities" class="nav-link" data-drupal-link-system-path="node/43171" target="_blank">Funding Opportunities</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-labelledby="block-footermembersvolunteers-menu" id="block-footermembersvolunteers" class="block block-menu navigation menu--footer-members-volunteers">
            <h2 class="sr-only" id="block-footermembersvolunteers-menu">Footer Members &amp; Volunteers</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/members-volunteers" class="nav-link" data-drupal-link-system-path="node/172431" target="_blank">Members &amp; Volunteers</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://americorps.gov/members-volunteers/your-benefits" class="nav-link" data-drupal-link-system-path="node/43176" target="_blank">Your Benefits</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/members-volunteers/segal-americorps-education-award" class="nav-link" data-drupal-link-system-path="node/43181" target="_blank">Segal AmeriCorps Education Award</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/members-volunteers/alumni" class="nav-link" data-drupal-link-system-path="node/172776" target="_blank">Alumni</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/members-volunteers/safety-security" class="nav-link" data-drupal-link-system-path="node/172771" target="_blank">Safety and Security</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-labelledby="block-footergranteessponsors-menu" id="block-footergranteessponsors" class="block block-menu navigation menu--footer-grantees-sponsors">
            <h2 class="sr-only" id="block-footergranteessponsors-menu">Footer grantees &amp; sponsors</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/grantees-sponsors" class="nav-link" data-drupal-link-system-path="node/41656" target="_blank">Grantees &amp; Sponsors</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://egrants.cns.gov/espan/main/login.jsp" class="nav-link" target="_blank">eGrants</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/grantees-sponsors/history-check" class="nav-link" data-drupal-link-system-path="node/249841" target="_blank">History Checks</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorpsonlinecourses.litmos.com/account/login" class="nav-link" target="_blank">Litmos</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-labelledby="block-footernewsroom-menu" id="block-footernewsroom" class="block block-menu navigation menu--footer-news">
            <h2 class="sr-only" id="block-footernewsroom-menu">Footer newsroom</h2>
            <ul class="nav clearfix">
              <li class="nav-item menu-item--expanded">
                <a href="https://americorps.gov/newsroom" class="nav-link" data-drupal-link-system-path="node/43151" target="_blank">Newsroom</a>
                <ul class="menu">
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/news" class="nav-link" data-drupal-link-system-path="node/172656" target="_blank">News</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/blog" class="nav-link" data-drupal-link-system-path="node/172661" target="_blank">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/stories" class="nav-link" data-drupal-link-system-path="node/172666" target="_blank">Stories</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/events" class="nav-link" data-drupal-link-system-path="node/199701" target="_blank">Events</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/in-the-news" class="nav-link" data-drupal-link-system-path="node/280816" target="_blank">In the News</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://americorps.gov/newsroom/communication-resources" class="nav-link" data-drupal-link-system-path="node/172731" target="_blank">Communication Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="region region-footer-social">
          <div id="block-americorps-languageblock" class="block block-block-content block-block-contentff3413e2-c923-48f3-b54a-66319b9e7a47">
            <div class="content">
              <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
                <h2>Bringing Americans together to serve communities</h2>
              </div>
            </div>
          </div>
          <div id="block-americorps-gtranslate" class="block block-gtranslate block-gtranslate-block">
            <div class="content">
              <div class="gtranslate_wrapper gt_container--wz96ug">
                <div id="google_translate_element2"></div>
              </div>
              <script>window.gtranslateSettings = {"switcher_horizontal_position":"left","switcher_vertical_position":"bottom","horizontal_position":"inline","vertical_position":"inline","float_switcher_open_direction":"top","switcher_open_direction":"bottom","default_language":"en","native_language_names":1,"detect_browser_language":0,"add_new_line":1,"select_language_label":"Select Language","flag_size":32,"flag_style":"2d","globe_size":60,"alt_flags":[],"wrapper_selector":".gtranslate_wrapper","url_structure":"none","custom_domains":null,"languages":["en","ar","bg","zh-CN","zh-TW","hr","cs","da","nl","fi","fr","de","el","hi","it","ja","ko","no","pl","pt","ro","ru","es","sv","ca","tl","iw","id","lv","lt","sr","sk","sl","uk","vi","sq","et","gl","hu","mt","th","tr","fa","af","ms","sw","ga","cy","be","is","mk","yi","hy","az","eu","ka","ht","ur","bn","bs","ceb","eo","gu","ha","hmn","ig","jw","kn","km","lo","la","mi","mr","mn","ne","pa","so","ta","te","yo","zu"],"custom_css":""};</script>
              <script>(function(){var js = document.createElement('script');js.setAttribute('src', 'https://cdn.gtranslate.net/widgets/latest/dropdown.js');js.setAttribute('data-gt-orig-url', '/');js.setAttribute('data-gt-orig-domain', 'americorps.gov');document.body.appendChild(js);})();</script>
            </div>
          </div>
          <div class="row footer-social-links no-gutters" id="block-americorps-footersociallinks">
            <div class="col-lg-12">
              <h2 class="field field--name-field-block-title field--type-string field--label-hidden field__item">Follow us</h2>
            </div>
            {%
              include '@drupalx_theme/social-icons/social-icons.twig' with { social_icons: social_icons } only
            %}
            <div class="col-lg-12 social-other-block">
              <a href="tel:+18009422677" class="field field--name-field-telephone-number field--type-string field--label-hidden field__item">1-800-942-2677</a>
              <a href="https://questions.americorps.gov/app/ask" class="email-link" target="_blank">Ask A Question</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-copyright no-gutters">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3 footer-logo">
            <div class="region region-footer-logo">
              <a href="/" title="Skip to the home page" rel="home" class="float-left site-logo logo-svg">
              <img src="{{ site_logo }}" alt="Skip to the home page">
              </a>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="region region-footer-links">
              <div id="block-footerlinks" class="block block-block-content block-block-content853642eb-a9c8-455c-957b-360214488099">
                <div class="content">
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">

                    {% include '@drupalx_theme/site-footer-links/site-footer-links.twig' %}

                    <p class="site-footer-text"><strong>AmeriCorps.gov</strong><br>
                      An official website of AmeriCorps. Produced and published at taxpayer expense.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>